{
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 160,
    "tabWidth": 4,
    "semi": true,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
