---
interface Props {
    text: string;
    required: boolean;
}

const { text = await Astro.slots.render('text'), required } = Astro.props;
---

<label class="mb-4 block"
    ><slot name="before" />
    <span class="inline-block max-w-md"
        ><slot name="text">{text}</slot>{
            required && (
                <Fragment>
                     <sup>★</sup>
                </Fragment>
            )
        }</span
    >
    <slot />
</label>
