---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';
import Footer from '@components/Footer.astro';
import AgendaComponent from '@components/Agenda.astro';
import Navigation from '@components/Navigation.astro';
---

<Layout title="Wyprawa Robocza #6 - Pantopia">
    <main class="relative text-white">
        <div class="pantopian-gradient relative box-content h-screen min-h-[480px] px-4 pb-8 lg:min-h-[640px]">
            <Navigation />
            <Central>
                <div class="mb-4 inline-block text-center">
                    <a href="https://mvu.pl"><img class="text-center" src="/assets/mvu.svg" alt="Minimum Viable Utopia" /></a>
                </div>
                <a href="/" class="mb-4 block text-2xl uppercase sm:text-3xl">Wyprawa Robocza #6</a>
                <a href="/" class="mb-2 inline-block text-center"><img class="h-12 sm:h-16" src="/assets/pantopia.svg" alt="Pantopia" /></a>
                <div class="mb-10 block text-2xl uppercase sm:text-3xl">15.09-17.09.2023</div>
                <div class="text-center lg:absolute lg:right-0 lg:bottom-16 lg:left-0">
                    <div class="my-10 block">
                        <a class="text-white hover:opacity-50" href="#agenda">Agenda ↓</a>
                    </div>
                </div>
            </Central>
        </div>
        <div id="agenda" class="bg-black">
            <div class="mx-auto max-w-2xl px-4 pt-8">
                <h1 class="mb-2 mb-10 inline-block text-center text-4xl md:mb-12 md:text-6xl">Agenda</h1>
                <div class="prose:h2:text-lg prose prose-invert prose-p:mb-8 hover:prose-a:bg-white hover:prose-a:text-black hover:prose-a:underline">
                    <AgendaComponent />
                </div>
            </div>
            <div class="mx-auto mt-8 max-w-2xl px-4">
                <Footer />
            </div>
        </div>
    </main>
</Layout>
