---
import Layout from '@layouts/Layout.astro';
import Header from '../components/Header.astro';
import Jumbotron from '../components/Jumbotron.astro';
import JumbotronLink from '../components/JumbotronLink.astro';

import { Image } from 'astro:assets';
import ChildhoodImage from '../assets/childhood.png';
import JumbotronHeading from '../components/JumbotronHeading.astro';
import JumbotronSection from '../components/JumbotronSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Dziękujemy | Wyprawa Robocza #7 - Znów">
    <Header />
    <main class="font-body flex min-h-screen flex-col">
        <Jumbotron>
            <JumbotronSection>
                <div class="text-left">
                    <JumbotronHeading title="Archiwum Wypraw" />
                    <div class="flex h-full items-center">
                        <ul class="w-auto text-left text-2xl lg:text-3xl">
                            <li class="mb-2">
                                <JumbotronLink text="→ Wyprawa 2018 – Katowice" url="https://wyprawa.robocza.org/archiwum/wyprawa/1/" />
                            </li>
                            <li class="mb-2">
                                <JumbotronLink text="→ Wyprawa 2020 – Poręba" url="https://mvu.pl/wyprawa/" />
                            </li>
                            <li class="mb-2">
                                <JumbotronLink text="→ Wyprawa 2021 – Jaworzno" url="https://eden.mvu.pl/" />
                            </li>
                            <li class="mb-2">
                                <JumbotronLink text="→ Wyprawa 2023 – Jaworzno" url="https://wyprawa.robocza.org/archiwum/wyprawa/6/" />
                            </li>
                        </ul>
                    </div>
                </div>
                <Image
                    src={ChildhoodImage}
                    alt="Dziecko zanurza się w marzeniach pełnych gwiazd"
                    class="h-auto w-full max-w-[500px] justify-self-end px-4 xl:px-0"
                    loading="eager"
                />
            </JumbotronSection>
        </Jumbotron>
        <div class="grow"></div>
        <Footer />
    </main>
</Layout>
