---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';

---

<Layout title="Wyprawa Robocza #6 - Pantopia">
    <main class="relative text-white">
        <div class="pantopian-gradient relative box-content h-screen min-h-[480px] px-4 pb-8 lg:min-h-[640px]">
            <Central>
                <div class="mb-4 inline-block text-center">
                    <a href="https://mvu.pl"><img class="text-center" src="/assets/mvu.svg" alt="Minimum Viable Utopia" /></a>
                </div>
                <div class="mb-4 block text-2xl uppercase sm:text-3xl">Wyprawa Robocza #6</div>
                <div class="mb-2 inline-block text-center"><img class="h-12 sm:h-16" src="/assets/pantopia.svg" alt="Pantopia" /></div>
                <div class="mb-10 block text-2xl uppercase sm:text-3xl">15.09-17.09.2023</div>
                <div class="text-center text-lg sm:text-2xl max-w-lg">
                    Dziękujemy za zapisanie się na wyprawę oraz dokonanie płatności!<br>
                    Twój udział jest teraz potwierdzony.<br>
                    Do zobaczenia!<br>
                    <br>
                    Masz pytania?
                    <a class="block underline hover:opacity-50" href="mailto:grupa@robocza.org">grupa@robocza.org</a>
                </div>
            </Central>
        </div>
    </main>
</Layout>
