---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';
import About from '@components/about/Content.md';
import FAQ from '@components/faq/Content.md';
import Information from '@components/information/Content.md';
import Footer from '../components/Footer.astro';
import Title from '../components/Title.astro';
import Button from '../components/Button.astro';
import Header from '../components/Header.astro';
import SectionProse from '../components/SectionProse.astro';
import SectionBlock from '../components/SectionBlock.astro';
import SectionCallToAction from '../components/SectionCallToAction.astro';
import Jumbotron from '../components/Jumbotron.astro';
import JumbotronHeading from '../components/JumbotronHeading.astro';
import Section from '@components/Section.astro';
---

<Layout title="Wyprawa Robocza #7 — Znów">
    <Header />
    <main class="font-body">
        <Jumbotron nextSectionUrl="#o-wyprawie" fullScreen={true}>
            <div class="w-full pb-16">
                <JumbotronHeading>
                    <Fragment slot="title">
                        <Title />
                    </Fragment>
                </JumbotronHeading>
                <Central>
                    <div class="mt-4 2xl:mt-8">
                        <Button text="Zapisz się na wyprawę" url="/zapisy" />
                    </div>
                </Central>
            </div>
        </Jumbotron>
        <Section id="o-wyprawie">
            <SectionBlock id="tory" title="Odnajdź swoje tory. Znów.">
                <SectionProse>
                    <About />
                </SectionProse>
                <SectionCallToAction text="Przeczytaj manifest" url="/manifest" />
            </SectionBlock>
            <SectionBlock id="informacje" title="Podstawowe informacje">
                <SectionProse>
                    <Information />
                </SectionProse>
                <SectionCallToAction text="Zapisz się na wyprawę" url="/zapisy" />
            </SectionBlock>
            <SectionBlock id="faq" title="FAQ">
                <SectionProse>
                    <FAQ />
                </SectionProse>
                <SectionCallToAction text="Zapisz się na wyprawę" url="/zapisy" />
            </SectionBlock>
        </Section>
        <Footer />
    </main>
</Layout>
