---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';
import About from '@components/about/Content.md';
import FAQ from '@components/faq/Content.md';
import Footer from '@components/Footer.astro';
import Navigation from '@components/Navigation.astro';
---

<Layout title="Wyprawa Robocza #6 - Pantopia">
    <main class="relative text-white">
        <div class="pantopian-gradient relative box-content h-screen min-h-[480px] px-4 pb-8 lg:min-h-[640px]">
            <Navigation />
            <Central>
                <div class="mb-4 inline-block text-center">
                    <a href="https://mvu.pl"><img class="text-center" src="/assets/mvu.svg" alt="Minimum Viable Utopia" /></a>
                </div>
                <a href="/" class="mb-4 block text-2xl uppercase sm:text-3xl">Wyprawa Robocza #6</a>
                <a href="/" class="mb-2 inline-block text-center"><img class="h-12 sm:h-16" src="/assets/pantopia.svg" alt="Pantopia" /></a>
                <div class="mb-10 block text-2xl uppercase sm:text-3xl">15.09-17.09.2023</div>
                <div class="text-center lg:absolute lg:bottom-16 lg:left-0 lg:right-0">
                    <a
                        class="inline-block w-48 rounded-lg border-2 border-solid border-white px-4 py-2 uppercase text-white hover:bg-white hover:text-black hover:opacity-50"
                        href="/agenda#agenda">Zobacz agendę</a
                    >
                    <div class="mb-4 mt-6 block">
                        <a class="text-white hover:opacity-50" href="https://forms.gle/qij9jQgtQBQZT4HY6">Zapisz się</a>
                    </div>
                    <div class="my-6 block">
                        <a class="text-white hover:opacity-50" href="#o-wyprawie">Przeczytaj o Wyprawie ↓</a>
                    </div>
                </div>
            </Central>
        </div>
        <div id="o-wyprawie" class="bg-black">
            <div class="mx-auto max-w-2xl px-4 pt-8">
                <div class="mb-2 inline-block text-center"><img class="mb-2 h-10" src="/assets/pantopia.svg" alt="Pantopia" /></div>
                <div
                    class="prose:h1:text-xl prose:h2:text-lg prose prose-invert prose-headings:mb-4 prose-headings:mt-8 prose-headings:text-3xl prose-p:mb-4 hover:prose-a:bg-white hover:prose-a:text-black hover:prose-a:underline prose-ul:mb-4 prose-li:mb-4"
                >
                    <About />
                </div>
                <div
                    class="prose:h1:text-xl prose:h2:text-lg prose prose-invert prose-headings:mb-4 prose-headings:mt-8 prose-headings:text-3xl prose-p:mb-4 hover:prose-a:bg-white hover:prose-a:text-black hover:prose-a:underline"
                >
                    <FAQ />
                </div>
                <div class="text-center">
                    <a
                        class="mx-auto mb-8 mt-8 inline-block w-48 rounded-lg border-2 border-solid border-white px-4 py-2 text-center uppercase text-white hover:bg-white hover:text-black"
                        href="https://forms.gle/qij9jQgtQBQZT4HY6">Zapisz się</a
                    >
                </div>
            </div>
            <div class="mx-auto mt-8 max-w-2xl px-4">
                <Footer />
            </div>
        </div>
    </main>
</Layout>
