---
import Layout from '@layouts/Layout.astro';
import Header from '../components/Header.astro';
import Jumbotron from '../components/Jumbotron.astro';

import {Image} from "astro:assets";
import BoyImage from '../assets/boy.png';
import JumbotronFooter from '../components/JumbotronFooter.astro';
---
<Layout title="Dziękujemy | Wyprawa Robocza #7 - Znów">
    <Header />
    <main class="font-body">
        <Jumbotron>
            <div class="w-full flex justify-between items-start gap-32 pb-16">
                <div class="text-left">
                    <h1 class="text-5xl font-bold uppercase mb-32">Manifest</h1>
                    <div class="flex h-full items-center">
                        <div class="w-auto text-left text-3xl">
                            <p>Tu będzie manifest, ale jeszcze nie ma.</p>
                        </div>
                    </div>
                </div>
                <Image src={BoyImage}
                       alt="Szczęśliwy chłopiec bawi się ciuchcią"
                       class="w-full h-auto px-4 xl:px-0"
                       loading="eager"
                />
            </div>
            <JumbotronFooter/>
        </Jumbotron>
    </main>
</Layout>
