---
import Layout from '@layouts/Layout.astro';
import Central from '@layouts/elements/arrangement/Central.astro';
import Footer from '@components/Footer.astro';
import Navigation from '@components/Navigation.astro';
import PosterB2 from '@components/posters/PosterB2.md';
import PosterA3 from '@components/posters/PosterA3.md';
---

<Layout title="Wyprawa Robocza #6 - Pantopia">
    <main class="relative text-white">
        <div class="pantopian-gradient relative box-content h-screen min-h-[480px] px-4 pb-8 lg:min-h-[640px]">
            <Navigation />
            <Central>
                <div class="mb-4 inline-block text-center">
                    <a href="https://mvu.pl"><img class="text-center" src="/assets/mvu.svg" alt="Minimum Viable Utopia" /></a>
                </div>
                <a href="/" class="mb-4 block text-2xl uppercase sm:text-3xl">Wyprawa Robocza #6</a>
                <div class="mb-10 block text-2xl uppercase sm:text-3xl">15.09-17.09.2023</div>
                <div class="text-center lg:absolute lg:right-0 lg:bottom-16 lg:left-0">
                    <div class="my-10 block">
                        <a class="text-white hover:opacity-50" href="#plakaty">Plakaty ↓</a>
                    </div>
                </div>
            </Central>
        </div>
        <div id="plakaty" class="bg-black">
            <div class="mx-auto mb-16 max-w-2xl px-4 pt-8">
                <h1 class="mb-2 mb-10 inline-block text-center text-4xl md:mb-12 md:text-6xl">Plakaty</h1>
                <div class="divide-y divide-dashed divide-white">
                    <div class="mb-8">
                        <h2 class="my-8 text-xl">Duży Plakat z VI Wyprawy Roboczej (B2)</h2>
                        <a class="mr-2 mb-2 inline-block" href="/assets/posters/original/2023-wyprawa_robocza_plakat-prev.jpg">
                            <img class="h-48" src="/assets/posters/2023-wyprawa_robocza_plakat-prev.jpg" alt="Plakat B2" />
                        </a>
                        <a class="mr-2 mb-2 inline-block" href="/assets/posters/original/2023-wyprawa-plakat-promo (2).jpg">
                            <img class="h-48" src="/assets/posters/2023-wyprawa-plakat-promo (2).jpg" alt="Plakat B2" />
                        </a>
                        <a class="mr-2 mb-2 inline-block" href="/assets/posters/original/2023-wyprawa-plakat-promo (3).jpg">
                            <img class="h-48" src="/assets/posters/2023-wyprawa-plakat-promo (3).jpg" alt="Plakat B2" />
                        </a>
                        <div
                            class="prose:h2:text-lg prose prose-invert prose-p:mb-8 hover:prose-a:bg-white hover:prose-a:text-black hover:prose-a:underline mb-8"
                        >
                            <PosterB2 />
                        </div>
                        <a
                            class="no-prose inline-block max-w-48 rounded-lg border-2 border-solid border-white px-4 py-2 text-white uppercase hover:bg-white hover:text-black"
                            href="/kup-plakat">Kup plakat</a
                        >
                    </div>
                    <div class="mb-8">
                        <h2 class="my-8 text-xl">Mały Plakat z VI Wyprawy Roboczej (A3)</h2>
                        <a class="mr-2 mb-2 inline-block" href="/assets/posters/original/2023-wyprawa-plakat-A3-prev.jpg">
                            <img class="h-48" src="/assets/posters/2023-wyprawa-plakat-A3-prev.jpg" alt="Plakat A3" />
                        </a>
                        <a class="mr-2 mb-2 inline-block" href="/assets/posters/original/plakat_A3-promo2.jpg">
                            <img class="h-48" src="/assets/posters/plakat_A3-promo2.jpg" alt="Plakat A3" />
                        </a>
                        <a class="mr-2 mb-2 inline-block" href="/assets/posters/original/plakat_A3-promo3.jpg">
                            <img class="h-48" src="/assets/posters/plakat_A3-promo3.jpg" alt="Plakat A3" />
                        </a>
                        <div
                            class="prose:h2:text-lg prose prose-invert prose-p:mb-8 hover:prose-a:bg-white hover:prose-a:text-black hover:prose-a:underline mb-8"
                        >
                            <PosterA3 />
                        </div>
                        <a
                            class="no-prose inline-block max-w-48 rounded-lg border-2 border-solid border-white px-4 py-2 text-white uppercase hover:bg-white hover:text-black"
                            href="/kup-plakat-z-robalem">Kup plakat</a
                        >
                    </div>
                </div>
            </div>
            <div class="mx-auto mt-8 max-w-2xl px-4">
                <Footer />
            </div>
        </div>
    </main>
</Layout>
