---
import Layout from '@layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Container from '../layouts/elements/Container.astro';
import Form from '../components/Form.astro';
import SectionBlock from '../components/SectionBlock.astro';
import Link from '../components/Link.astro';
import Jumbotron from '../components/Jumbotron.astro';

import {Image} from "astro:assets";
import MoebiusImage from '../assets/moebius.png';
import Central from '../layouts/elements/arrangement/Central.astro';
import JumbotronLink from '../components/JumbotronLink.astro';
---

<style>
    ol {
        list-style-type: circled-decimal;
    }
    li::marker {
        color: var(--color-lilac);
        font-size: 40px;
        font-weight: bold;
    }
</style>

<Layout title="Zapisy | Wyprawa Robocza #7 - Znów">
    <Header />
    <main class="font-body">
        <Jumbotron nextSectionUrl="#formularz">
            <div class="w-full flex justify-between items-end gap-32 pb-16">
                <div class="text-left py-16">
                    <h1 class="text-3xl font-bold uppercase">Zapisy na wyprawę</h1>
                    <p class="text-3xl mb-12">Jak to działa?</p>

                    <div class="flex h-full items-center">
                        <div class="w-auto text-left">
                            <ol class="list-outside ml-14 text-3xl">
                                <li class="mb-8">
                                    Wyraź chęć udziału w Wyprawie  i zapisz się przez → <JumbotronLink text="ten formularz" url="#formularz"/>
                                </li>
                                <li class="mb-8">
                                    Po zakończeniu zapisów otrzymasz link do płatności.
                                </li>
                                <li>
                                    Płacąc, potwierdzisz swój udział w Wyprawie.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <Image src={MoebiusImage}
                       alt="Wstęga Möbiusa"
                       class="max-h-80 w-auto px-4 xl:px-0"
                       loading="eager"
                />
            </div>
        </Jumbotron>
        <section id="formularz" class="scroll-mt-20 bg-nut-dark text-canary">
            <Container>
                <div class="w-full grid grid-cols-3 gap-8 lg:gap-32 pt-24 pb-12">
                    <SectionBlock>
                        <Fragment slot="title">
                            <div>Formularz rejestracyjny</div>
                            <Link text="Podstawowe informacje" url="/#informacje" className="underline text-canary hover:text-nut hover:bg-canary text-base"/>
                        </Fragment>
                        <Form />
                    </SectionBlock>
                </div>
            </Container>
        </section>
        <Footer />
    </main>
</Layout>
