---
interface Props {
    "entry": {
        "time": string,
        "lecturer": string,
        "title": string,
        "description": string
    }
}

const { entry } = Astro.props;
---
<div class="py-8">
    <h3>{entry.title}</h3>
    <h4>{entry.lecturer}</h4>
    <span class="time">{entry.time}</span>
    <p class="mt-0">
        <Fragment set:html={entry.description} />
    </p>
</div>
