---
import MailLink from '@components/MailLink.astro';
import Link from '@components/Link.astro';
import LogoGrupaRobocza from '../components/assets/LogoGR.astro';
import Container from '../layouts/elements/Container.astro';
---

<footer class="bg-nut-dark text-canary pt-8 pb-16 lg:pt-32">
    <Container>
        <div class="grid w-full grid-cols-1 gap-8 text-lg lg:grid-cols-3 lg:gap-32">
            <div>
                <a href="https://grupa.robocza.org" title="Grupa Robocza">
                    <LogoGrupaRobocza height={60} />
                </a>
            </div>
            <div>
                <div>
                    <MailLink email="grupa@robocza.org" className="hover:bg-canary hover:text-nut underline" />
                </div>
                <div>ul. Kopernika 19A, Kraków</div>
                <div class="mt-12">
                    Worldwide 🌏 {new Date().getFullYear()}
                </div>
            </div>
            <div>
                <div>
                    <Link url="/regulamin" text="Regulamin" className="hover:bg-canary hover:text-nut underline" />
                </div>
                <div>
                    <Link url="/polityka-prywatnosci" text="Polityka prywatności" className="hover:bg-canary hover:text-nut underline" />
                </div>
            </div>
        </div>
    </Container>
</footer>
