---
import LogoMVU from "../components/assets/LogoMVU.astro";
import LogoPoweredByGrupaRobocza from "../components/assets/PoweredByGrupaRobocza.astro";
import Container from '../layouts/elements/Container.astro';
import Menu from './Menu.astro';
---
<header class="lg:transition-transform duration-300 ease-in-out top-0 z-50 flex-none mx-auto w-full fixed">
    <div class="absolute inset-0 bg-canary-dark"></div>
    <Container>
        <div class="relative w-full mx-auto">
            <div class="grid grid-flow-col auto-cols-fr justify-between lg:grid-cols-2 h-16 lg:h-20">
                <Menu/>
                <div class="flex items-center justify-end sm:gap-x-2 lg:gap-x-8">
                    <a class="hidden lg:flex items-center" title="Minimum Viable Utopia" target="_blank" href="https://mvu.pl/">
                        <LogoMVU />
                    </a>
                    <a class="hidden lg:flex items-center" title="Grupa Robocza" target="_blank" href="https://grupa.robocza.org/">
                        <LogoPoweredByGrupaRobocza />
                    </a>
                </div>
            </div>
        </div>
    </Container>
</header>
