---
import LogoGrupaRobocza from '../components/assets/LogoGR.astro';
---

<footer class="lg:pt-16">
    <div class="grid w-full grid-cols-3 gap-8 text-lg lg:gap-32">
        <div>
            <a href="https://grupa.robocza.org" title="Grupa Robocza">
                <LogoGrupaRobocza className="fill-nut" height={60} />
            </a>
        </div>
    </div>
</footer>
