---
import LogoGrupaRobocza from '../components/assets/LogoGR.astro';
---
<footer class="lg:pt-16">
    <div class="w-full gap-8 lg:gap-32 grid grid-cols-3 text-lg">
        <div>
            <a href="https://grupa.robocza.org" title="Grupa Robocza">
                <LogoGrupaRobocza className="fill-nut" height={60}/>
            </a>
        </div>
    </div>
</footer>