---
interface Props {
    url: string;
    text: string;
    className?: string;
}

const { url, text, className = 'underline text-canary hover:text-nut hover:bg-canary' } = Astro.props;
---

<a class={className} href={url}>{text}</a>
