---
interface Props {
    url: string;
    text?: string;
    className?: string;
    extraClassName?: string;
}

const {
    url,
    text = await Astro.slots.render('text'),
    className = "uppercase font-body text-sm lg:text-base font-bold text-nut hover:opacity-70",
    extraClassName = '',
} = Astro.props;

---
<a class:list={[
    className,
    extraClassName,
]} href={url}>
    <slot name="text">{text}</slot>
</a>
