---
import MenuLink from "./MenuLink.astro";
---
<nav class="flex items-center justify-start gap-x-8">
    <MenuLink text="O wyprawie" url="/" />
    <MenuLink text="Manifest" url="/manifest" />
    <MenuLink text="Archiwum wypraw" url="/archiwum" />
    <MenuLink text="O nas" url="https://grupa.robocza.org" />
    <MenuLink text="Zapisz się" url="/zapisy" extraClassName="py-2 px-4 rounded-full border-2 border-nut" />
</nav>