---
import Central from '../layouts/elements/arrangement/Central.astro';
---

<nav class="mx-auto text-center md:absolute md:right-0">
    <Central>
        <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between md:p-4">
            <div class="mx-auto block w-full md:w-auto">
                <ul class="mt-4 flex flex-row items-center p-4 md:mt-0 md:space-x-8 md:p-0">
                    <li>
                        <a href="/agenda#agenda" class="block py-2 pl-3 pr-4 text-white hover:opacity-50">Agenda</a>
                    </li>
                    <li>
                        <a href="/#o-wyprawie" class="block py-2 pl-3 pr-4 text-white hover:opacity-50">O Wyprawie</a>
                    </li>
                    <li>
                        <a href="/plakaty#plakaty" class="block py-2 pl-3 pr-4 text-white hover:opacity-50">Plakaty</a>
                    </li>
                    <li>
                        <a href="https://grupa.robocza.org" target="_blank" class="block py-2 pl-3 pr-4 text-white hover:opacity-50">O nas</a>
                    </li>
                </ul>
            </div>
        </div>
    </Central>
</nav>
