---
import Central from '../layouts/elements/arrangement/Central.astro';
---

<nav class="absolute right-0 mx-auto text-center">
    <button
        data-drawer-target="drawer-navigation"
        data-drawer-show="drawer-navigation"
        aria-controls="drawer-navigation"
        type="button"
        class="m-4 inline-block rounded-lg border-2 border-solid border-white px-4 py-2 text-white uppercase hover:bg-white hover:text-black md:hidden"
    >
        <span class="sr-only">Otwórz menu</span>
        <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
    </button>

    <Central>
        <div

            id="drawer-navigation"
            class="fixed top-0 left-0 z-40 h-screen w-64 -translate-x-full overflow-y-auto bg-white p-4 transition-transform dark:bg-gray-800"
            tabindex="-1"
            aria-labelledby="drawer-navigation-label"
        >
            <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase">Menu</h5>
            <button
                type="button"
                data-drawer-hide="drawer-navigation"
                aria-controls="drawer-navigation"
                class="absolute top-2.5 right-2.5 inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            >
                <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
                </svg>
                <span class="sr-only">Zamknij menu</span>
            </button>
            <div class="overflow-y-auto py-4">
                <ul class="space-y-2 font-medium">
                    <li>
                        <a href="/agenda#agenda" class="block py-2 pr-4 pl-3 text-gray-900 hover:opacity-50">Agenda</a>
                    </li>
                    <li>
                        <a href="/#o-wyprawie" class="block py-2 pr-4 pl-3 text-gray-900 hover:opacity-50">O Wyprawie</a>
                    </li>
                    <li>
                        <a href="/plakaty#plakaty" class="block py-2 pr-4 pl-3 text-gray-900 hover:opacity-50">Plakaty</a>
                    </li>
                    <li>
                        <a href="https://grupa.robocza.org" target="_blank" class="block py-2 pr-4 pl-3 text-gray-900 hover:opacity-50">O nas</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between md:p-4">
            <div class="mx-auto hidden w-full md:block md:w-auto" id="menu">
                <ul class="mt-4 flex flex-col items-center p-4 md:mt-0 md:flex-row md:space-x-8 md:p-0">
                    <li>
                        <a href="/agenda#agenda" class="block py-2 pr-4 pl-3 text-white hover:opacity-50">Agenda</a>
                    </li>
                    <li>
                        <a href="/#o-wyprawie" class="block py-2 pr-4 pl-3 text-white hover:opacity-50">O Wyprawie</a>
                    </li>
                    <li>
                        <a href="/plakaty#plakaty" class="block py-2 pr-4 pl-3 text-white hover:opacity-50">Plakaty</a>
                    </li>
                    <li>
                        <a href="https://grupa.robocza.org" target="_blank" class="block py-2 pr-4 pl-3 text-white hover:opacity-50">O nas</a>
                    </li>
                </ul>
            </div>
        </div>
    </Central>
</nav>

<script>
    import 'flowbite';
</script>
