---
import Button from './Button.astro';

interface Props {
    url: string;
    text: string;
}

const {
    url,
    text
} = Astro.props;

---
<div class="mt-16 mb-16 2xl:mt-16 lg:mb-0 text-center lg:text-left">
    <Button text={text} url={url} extraClassName="text-canary hover:bg-canary hover:text-nut border-canary"/>
</div>
