<div
    class="marker:text-canary prose prose-base prose-ul:ps-4 prose-ol:ps-7 lg:prose-ol:ps-9 lg:prose-xl prose-p:leading-tight prose-p:text-canary prose-ol:font-body prose-li:leading-tight prose-li:pl-0 prose-li:text-canary prose-a:text-canary prose-a:underline prose-a:hover:bg-canary prose-a:hover:text-nut"
>
    <slot />
</div>
