---
import {Image} from "astro:assets";
import TitleImage from '../assets/title.png';
---
<div class="py-4 2xl:py-8 flex">
    <Image src={TitleImage}
           alt="Wyprawa Robocza #7 — Znów; zadowolony chłopiec bawi się ciuchcią"
           class="w-full"
           loading="eager"
    />
</div>
