---
const { id, text } = Astro.props;

const url = '#' + id;
---
<a data-link={id}
   data-modal-hide="mobile-menu"
   class="block lg:inline-block lowercase text-3xl leading-none lg:font-bold py-2 lg:px-4 lg:border-white lg:border-1 hover:opacity-80 lg:hover:opacity-100 lg:hover:bg-white lg:hover:text-black"
   href={url}>{text}
</a>