---
interface Props {
    url: string;
    text?: string;
    className?: string;
    extraClassName?: string;
}

const {
    url,
    text = await Astro.slots.render('text'),
    className = "text-canary-dark lg:uppercase lg:text-base lg:font-bold lg:text-nut hover:underline",
    extraClassName = 'font-decorative lg:font-body text-jumbo lg:text-base',
} = Astro.props;

---
<a class:list={[
    className,
    extraClassName,
]} href={url}>
    <slot name="text">{text}</slot>
</a>
